$primary-text-color: #F2F2F2;
$primary-accent-color: #F24B88;
$second-accent-color: #59253E;
$main-bg-color: #1F1C26;
$second-bg-color: #332F3C;
$dark-color: #0D0D0D;

$main-font-family: 'Poppins', sans-serif;
